{% extends 'base.html' %}
{% block body %}
<div class="round_box">
    <h2> {{profile_user.username}}'s photos</h2>
    {% if g.User.is_authenticated(profile_user.username) %}
        <form method="POST" 
              enctype="multipart/form-data" 
              action="{{ url_for('views.photos', username=g.user.username) }}">

            {{photo_form.csrf}}
            {% for e in photo_form.photo.errors %}
                <div class="error"> {{e}}</div>
            {% endfor %}
            {{photo_form.photo.label}}: {{photo_form.photo}}
        <input type="submit" value="upload"/>
        </form>
    {% endif %}

    <div id="back_to_profile_link">
        <a href="{{url_for('views.profile', username=profile_user.username)}}">back to profile</a>
    </div>
    <div id="enlarged_photos">
    {% for photo in profile_user.photos %}
    <div>
        <img src="{{photo.url()}}"/>
        {% if g.User.is_authenticated(profile_user.username) %}
            <p>
            <a href="{{url_for('views.delete_photo', photo_id=photo.id,username=profile_user.username)}}">Delete</a> 
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
